.home-page{
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    .left-panel{
        width: 45%;
        img{
            width:100%;
            height: 750px;
        }
    }
    .right-panel{
        width: 55%;
        // width: 100%;
    }
}