.logout-card{
    position: fixed;
    // bottom: 23%;
    // left: 6%;
    top: 0;
    left: 0;
    width: 100vw;
    pointer-events:stroke;
    height: 100vh;
    padding-top: 27%;
    padding-left: 5%;
    .container{
        padding: 20px 15px;
        border-radius: 15px;
        background-color: rgba(250,250,250,1);
        box-shadow: 1px 1px 10px 1px gray;
        width: 300px;
        display: list-item;
        list-style: none;
        .header{
            display: flex;
            .image{
                img{
                    width: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
            .user-infos{
                display: list-item;
                list-style: none;
                .fullname{
                    font-weight: bold;
                }
                .username{
                    color: gray;
                }
            }
        }
        .existing-account{
            .info{
                font-size: 17px;  
                margin: 25px 0;
            }
        }
        .logout{
            .info{
                font-size: 17px;  
            }
            .info:hover{
                cursor: pointer;
            }
        }
    }
}